<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Cartões"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-2 col-sm-12">
                            <app-select-bank-icon [entity]="card" [iconSelected]="iconSelected"></app-select-bank-icon>
                        </div>

                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <label class="form-label"> Nome *:</label>
                                    <input pInputText class="form-control" name="bankName" id="bankName" [(ngModel)]="card['name']" required="true" />
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="form-label"> Conta *:</label>
                                    <p-dropdown styleClass="w-100" name="account" id="account" placeholder="Selecione"
                                                [options]="accounts" optionValue="id" optionLabel="name" [(ngModel)]="this.card['accountId']" />
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label"> Limite *:</label>
                                    <input pInputText class="form-control" name="limit" id="limit" [(ngModel)]="card['limit']" appCurrencyFormatPtBr [required]="true" />
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="form-label"> Dia do fechamento *:</label>
                                    <input pInputText class="form-control" name="closingDay" id="closingDay" [(ngModel)]="card['closingDay']" appNumberRange required="true" />
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="form-label"> Dia do vencimento *:</label>
                                    <input pInputText class="form-control" name="dueDate" id="dueDate" [(ngModel)]="card['dueDate']" required="true" appNumberRange />
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Ativo:</label>
                                    <p-inputSwitch name="active" id="active" styleClass="form-control"
                                                   [(ngModel)]="card['active']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!form.valid || !card['codeIcon'] || !card['accountId']">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/search/cards">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
