<form autocomplete="off" class="fade-in">
    <app-title name="Lançamentos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" name="search" id="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="button" pButton class="p-button-success p-button-sm" (click)="filterBy()">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/register/transactions/new">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table #table [value]="transactions" [paginator]="transactions.length > 10" [rows]="10"
                             responsiveLayout="stack" [breakpoint]="'1300px'"
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr *ngIf="transactions.length > 0">
                                <th class="text-center">DATA</th>
                                <th class="text-left">DESCRIÇÃO</th>
                                <th class="text-left">CATEGORIA</th>
                                <th class="text-center">VALOR</th>
                                <th class="text-center">EFETIVADO</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-transaction>
                            <tr>
                                <td class="text-center {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }}">
                                    <span class="p-column-title">DATA </span>
                                    {{ transaction['paid'] ? transaction['paymentDate'] : transaction['dueDate'] }}
                                </td>
                                <td class="text-left {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} ">
                                    <span class="p-column-title">DESCRIÇÃO</span>
                                    {{ transaction['description'].toUpperCase() }}
                                </td>
                                <td class="text-left {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} " style="width: 400px">
                                    <span class="p-column-title">CATEGORIA</span>
                                    {{ transaction['subcategory'] }}
                                </td>
                                <td class="text-right {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} ">
                                    <span class="p-column-title">VALOR</span>
                                    {{ transaction['value'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} ">
                                    <span class="p-column-title">EFETIVADO</span>
                                    <a (click)="transaction['paid'] ? refund(transaction) : pay(transaction)" style="cursor: pointer">
                                        <span class=" {{ transaction['paid'] == true ? 'badge text-bg-success' : 'badge text-bg-danger' }} ">
                                            {{ transaction["paid"] === true ? 'Sim' : 'Não' }}
                                        </span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÔES</span>
                                    <p-button [link]="true" (click)="confirmationDelete(transaction)" >
                                        <i class="fa-regular fa-trash-can"></i>
                                    </p-button>
                                    <p-button [link]="true" [routerLink]="['/update/transactions/', transaction.id]">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </p-button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>
