<form autocomplete="off" class="fade-in">
    <app-title name="Lançamentos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" name="search" id="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="button" pButton class="p-button-success p-button-sm" (click)="filterBy()">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/register/transactions/new">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Saldo em conta corrente</label>
                    <h5 class="{{ balance['currentAccount'] < 0 ? 'text-danger' : '' }}">{{ balance['currentAccount'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Receitas</label>
                    <h5 class="text-success">{{ balance['income'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Despesas</label>
                    <h5 class="text-danger">{{ balance['expense'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Balanço geral</label>
                    <h5 class="{{ balance['generalBalance'] < 0 ? 'text-danger' : '' }}">{{ NumberHelpers.invertSignalWhenNegative(balance['generalBalance']) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table #table [value]="transactions" responsiveLayout="stack" [breakpoint]="'1300px'"
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines"
                             scrollHeight="1400px"
                             sortMode="single"
                             sortField="date"
                             [scrollable]="false"
                             rowGroupMode="subheader"
                             groupRowsBy="date">
                        <ng-template pTemplate="header">
                            <tr *ngIf="transactions.length > 0">
                                <th class="text-center"></th>
                                <th class="text-left">DESCRIÇÃO</th>
                                <th class="text-left">CATEGORIA</th>
                                <th class="text-center">VALOR</th>
                                <th class="text-center">EFETIVADO</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="groupheader" let-transaction let-rowIndex="rowIndex">
                            <tr pRowGroupHeader>
                                <td colspan="6">
                                    <strong style="font-size: 1rem;"> {{ transaction['date'] }} </strong>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-transaction>
                            <tr>
                                <td class="text-center" style="width: .625rem">
                                    <img src="{{ transaction['icon'] }}" style="width: 2rem; border-radius: 8px;"  alt="icon" />
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">DESCRIÇÃO</span>
                                    {{ transaction['description'].toUpperCase() }}
                                </td>
                                <td class="text-left" style="width: 400px">
                                    <span class="p-column-title">CATEGORIA</span>
                                    {{ transaction['subcategory'] }}
                                </td>
                                <td class="text-right {{ transaction['categoryType'] !== 'TRANSFERÊNCIA' && transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} ">
                                    <span class="p-column-title">VALOR</span>
                                    {{ NumberHelpers.invertSignalWhenNegative(transaction['value']) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">EFETIVADO</span>
                                    <a (click)="transaction['paid'] ? refund(transaction) : pay(transaction)" style="cursor: pointer">
                                        <span class=" {{ transaction['paid'] == true ? 'badge text-bg-success' : 'badge text-bg-danger' }} ">
                                            {{ transaction["paid"] === true ? 'Sim' : 'Não' }}
                                        </span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÔES</span>
                                    <p-button [link]="true" (click)="confirmationDelete(transaction)" >
                                        <i class="fa-regular fa-trash-can"></i>
                                    </p-button>
                                    <p-button [link]="true" [routerLink]="['/update/transactions/', transaction.id]">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </p-button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>

<p-dialog header="Confirmação" [modal]="true" [(visible)]="visible" [draggable]="false" [baseZIndex]="100000">
    <div class="row g-3">
        <div class="col-md-12 mb-10" style="position: relative; margin-top: -10px;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <span style="padding: 0; color: #4b5563"> Tem certeza que deseja excluir o Lançamento? </span>
                    </div>
                </div>
                <div class="card-footer" style="padding-bottom: 0; border: 0 !important; background: transparent;">
                    <div class="footer-content" style="float: right; position: relative; left: 1.25rem;">
                        <button pButton type="button" class="p-button-danger p-button-sm ms-2" (click)="deleteOnlyThis()">
                            <i class="fa-solid fa-remove m-1"></i>
                            Excluir apenas este
                        </button>
                        <button pButton type="button" class="p-button-danger p-button-outlined p-button-sm ms-2" (click)="deleteThisAndNext()">
                            <i class="fa-solid fa-remove m-1"></i>
                            Excluir este e os próximos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
