<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="save()">
    <app-title name="Alterar senha de usuários"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label"> Nome *:</label>
                            <input pInputText class="form-control" name="fullname" id="fullname" [(ngModel)]="user['name']" [readonly]="true" />
                        </div>
                        <div class="col-md-8">
                            <label class="form-label"> Login *:</label>
                            <input pInputText class="form-control" name="login" id="login" [(ngModel)]="user['login']" [readonly]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label"> Senha *:</label>
                            <input pInputText type="password" class="form-control" name="password" id="password" [(ngModel)]="user['password']" [required]="true" [maxlength]="100" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label"> Confirma senha *:</label>
                            <input pInputText type="password" class="form-control" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" [required]="true" [maxlength]="100" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!form.valid || !authService.hasPermission('UPDATE_CHANGEPASSWORD_USERS')">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/changepassword">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
