<p-dialog header="Confirmação" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [draggable]="false">
    <div class="row g-3">
        <div class="col-md-12 mb-10" style="position: relative; margin-top: -10px;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <span style="text-align: center; padding: 0; color: #4b5563"> Este lançamento se repete em outras datas. O que deseja fazer ? </span>
                    </div>
                </div>
                <div class="card-footer" style="padding-bottom: 0; border: 0 !important; background: transparent;">
                    <div class="footer-content" style="float: right; position: relative; left: 1.25rem;">
                        <button pButton type="button" class="p-button-success p-button-sm ms-2" (click)="update()">
                            <i class="fa-solid fa-save m-1"></i>
                            Atualizar apenas este
                        </button>
                        <button pButton type="button" class="p-button-success p-button-outlined p-button-sm ms-2" (click)="update(true)">
                            <i class="fa-solid fa-save m-1"></i>
                            Este e os próximos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
