.breadcrumb-custom {
    /*position: fixed;*/
    /*margin-top: 3.75rem;*/
    /*margin-left: 16.25rem;*/
    /*width: -webkit-fill-available;*/

    /*transition: width 0.3s ease;*/

    margin-top: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .breadcrumb-custom {
        margin-left: 5.625rem;
    }
}
