<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Manutenções"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <h6>Informações do veículo:</h6>
                        <div class="col-md-8 col-sm-12">
                            <label class="form-label"> Veículo *:</label>
                            <p-dropdown styleClass="w-100" name="vehicle" id="vehicle" placeholder="Selecione"
                                        optionLabel="fullname" optionValue="id" [(ngModel)]="this.maintenance['vehicleId']"
                                        [options]="vehicles" required="true" />
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="form-label"> Hodômetro atual *:</label>
                            <input pInputText class="form-control" name="odometer" id="odometer" appOnlyNumber [required]="true">
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <h6>Informações da manutenção:</h6>
                        <div class="col-md-10 col-sm-12">
                            <label class="form-label"> Prestador do serviço *:</label>
                            <p-dropdown styleClass="w-100" name="serviceProvider" id="serviceProvider" placeholder="Selecione"
                                        optionLabel="fullname" optionValue="id" [(ngModel)]="this.maintenance['vehicleId']"
                                        [options]="vehicles" required="true" emptyMessage="Nenhum prestador de serviço encontrado" />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Data do serviço *:</label>
                            <p-calendar appendTo="body" name="date" id="date"
                                        [required]="true" dateFormat="dd/mm/yy" [readonlyInput]="true" />
                        </div>
                    </div>

                    <br/>

                    <app-table-maintenance [title]="'Itens utilizados'" [items]="items"
                                           (itemsChange)="items = $event" (updateValue)="updateValue()" />

                    <br/>

                    <app-table-maintenance [title]="'Serviços realizados'" [items]="services"
                                           (itemsChange)="services = $event" (updateValue)="updateValue()" />

                    <br/>

                    <div class="row">
                        <h6>Informações de pagamento:</h6>
                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Conta *:</label>
                            <p-dropdown styleClass="w-100" name="account" id="account" placeholder="Selecione"
                                        optionLabel="name" optionValue="id" [(ngModel)]="this.maintenance['accountId']"
                                        [options]="accounts" required="true" (onChange)="onChanceCard()" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Cartão :</label>
                            <p-dropdown styleClass="w-100" name="card" id="card" placeholder="Selecione"
                                        optionLabel="name" optionValue="id" [(ngModel)]="this.maintenance['cardId']"
                                        [options]="cards" emptyMessage="Nenhum cartão disponível"
                                        (onChange)="onGenerateInvoices()" />
                        </div>
                        <div class="col-md-2" *ngIf="notShowWhenCardSelected(maintenance)">
                            <label class="form-label"> Data Vencimento *:</label>
                            <p-calendar appendTo="body" name="dueDate" id="dueDate" [(ngModel)]="maintenance['dueDate']" [required]="true" dateFormat="dd/mm/yy"
                                        [readonlyInput]="true" [disabled]="!notShowWhenCardSelected(maintenance)" />
                        </div>
                        <div class="col-md-2" *ngIf="showWhenCardSelected(maintenance)">
                            <label class="form-label"> Fatura de *:</label>
                            <p-dropdown styleClass="w-100" name="invoice" id="invoice" placeholder="Selecione" optionLabel="label" optionValue="value"
                                        [options]="invoices" emptyMessage="Nenhuma fatura encontrada" required="true"
                                        [(ngModel)]="maintenance['dueDate']" />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Desconto:</label>
                            <input pInputText class="form-control" name="discount" id="discount" [(ngModel)]="maintenance['discount']"
                                   appCurrencyFormatPtBr [required]="true" (ngModelChange)="updateValue()" />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Valor:</label>
                            <input pInputText class="form-control" name="value" id="value" [(ngModel)]="maintenance['value']"
                                   appCurrencyFormatPtBr [readonly]="true" />
                        </div>
                    </div>

                    <br/>

                    <div class="row" *ngIf="maintenance.cardId">
                        <h6>Opções de parcelamento:</h6>
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Quantidade de parcelas :</label>
                            <input pInputText class="form-control" name="totalInstallment" id="totalInstallment" appOnlyNumber
                                   [(ngModel)]="maintenance['totalInstallment']"
                                   [required]="true" (ngModelChange)="calculateInstallmentValue()">
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Valor da parcela :</label>
                            <input pInputText class="form-control" name="installmentValue" id="installmentValue" appCurrencyFormatPtBr
                                   [(ngModel)]="maintenance['installmentValue']"
                                   [readonly]="true">
                        </div>
                    </div>

<!--                    <br/>-->
<!---->
<!--                    <div class="row">-->
<!--                        <h6>Resumo financeiro do serviço:</h6>-->
<!--                        <strong>Total em peças</strong>-->
<!--                        <strong>Total em serviços</strong>-->
<!--                        <strong>Total da manutenção</strong>-->
<!--                    </div>-->
<!--
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Veículo *:</label>
                            <p-dropdown styleClass="w-100" name="vehicle" id="vehicle" placeholder="Selecione"
                                        optionLabel="fullname" optionValue="id" [(ngModel)]="this.maintenance['vehicleId']"
                                        [options]="vehicles" required="true" />
                        </div>
                        <div class="col-md-7">
                            <label class="form-label"> Estabelecimento *:</label>
                            <input pInputText class="form-control" name="establishment" id="establishment" [(ngModel)]="maintenance['establishment']" [required]="true" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label"> Data *:</label>
                            <input pInputText class="form-control" name="date" id="date" [(ngModel)]="maintenance['date']" appDateFormatPtBr [required]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Conta *:</label>
                            <p-dropdown styleClass="w-100" name="account" id="account" placeholder="Selecione"
                                        optionLabel="name" optionValue="id" [(ngModel)]="this.maintenance['accountId']"
                                        [options]="accounts" required="true" (onChange)="onChanceCard()" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> Cartão :</label>
                            <p-dropdown styleClass="w-100" name="card" id="card" placeholder="Selecione"
                                        optionLabel="name" optionValue="id" [(ngModel)]="this.maintenance['cardId']"
                                        [options]="cards" [disabled]="!this.maintenance['accountId']"
                                        emptyMessage="Nenhum cartão disponível"/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> Km *:</label>
                            <input pInputText class="form-control" name="mileage" id="mileage" [(ngModel)]="maintenance['mileage']" appDecimalFormat [required]="true" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> Tipo *:</label>
                            <p-dropdown styleClass="w-100" name="type" id="type" placeholder="Selecione"
                                        optionLabel="description" optionValue="description" [(ngModel)]="this.maintenance['type']"
                                        [options]="types" required="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Detalhe *:</label><br/>
                            <textarea rows="5" id="detail" name="detail" pInputTextarea [(ngModel)]="maintenance['detail']"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Valor *:</label>
                            <input pInputText class="form-control" name="value" id="value" [(ngModel)]="maintenance['value']" appCurrencyFormatPtBr [required]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Ativo:</label>
                            <p-inputSwitch name="active" id="active" styleClass="form-control"
                                           [(ngModel)]="maintenance['active']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                        </div>
                    </div>
                    -->
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="enable(form)">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/maintenance">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
