<form autocomplete="off" class="fade-in">
    <app-title name="Faturas"></app-title>

    <div class="row g-3">

        <app-invoice-card [invoice]="invoice"></app-invoice-card>

        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-footer">
                    <button type="submit" pButton class="{{ isInvoicePaid() ? 'p-button-danger' : 'p-button-success' }} p-button-sm"
                        (click)="isInvoicePaid() ? confirmationRefund() : pay()">
                        <i class="fas fa-donate me-1"></i>
                        {{ isInvoicePaid() ? 'Estonar' : 'Pagar' }}
                    </button>
                    <button type="button" pButton class="p-button-contrast p-button-sm ms-2" (click)="invoice['scheduled'] ? undoScheduling(invoice) : schedule(invoice)">
                        <i class="fas fa-clock me-1"></i>
                        {{ invoice['scheduled'] ? 'Canc. agendamento' : 'Agendar' }}
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/transactions">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <app-invoice-payment-detail [invoicePaymentDetails]="invoicePaymentDetails" (isPayment)="this.invoice.paid = false"></app-invoice-payment-detail>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table [value]="transactions"
                             responsiveLayout="stack" [breakpoint]="'1300px'" appStickTableHeader
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines"
                             dataKey="id"
                             rowGroupMode="subheader"
                             groupRowsBy="registerDate"
                             selectionMode="single"
                             [(selection)]="selectedValue"
                             (onRowSelect)="onRowSelect()"
                             (onRowUnselect)="onRowUnSelect($event)"
                             [customSort]="true">
                        <ng-template pTemplate="header">
                            <tr *ngIf="transactions.length > 0">
                                <th class="text-center"></th>
                                <th class="text-left" style="width: 700px;">DESCRIÇÃO</th>
                                <th class="text-left" style="width: 250px">CATEGORIA</th>
                                <th class="text-center">VALOR</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="groupheader" let-transaction>
                            <tr pRowGroupHeader>
                                <td colspan="4">
                                    <strong style="font-size: 1rem;"> {{ transaction['registerDate'] }} </strong> <i style="font-size: 1rem;">({{ transaction['dayOfWeek'].toUpperCase() }})</i>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-transaction>
                            <tr [pSelectableRow]="transaction">
                                <td class="text-center" style="width: .625rem">
                                    <img src="{{ transaction['icon'] }}" style="width: 2.1rem; border-radius: 30%;"  alt="icon" />
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">DESCRIÇÃO</span>
                                    <span>{{ transaction['description'].toUpperCase() }}</span>
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">CATEGORIA</span>
                                    <span>{{ transaction['subcategory'] }}</span>
                                </td>
                                <td class="text-right {{ transaction['value'] > 0 ? '' : 'text-danger' }}">
                                    <span class="p-column-title">VALOR</span>
                                    {{ NumberHelpers.invertSignalWhenNegative(transaction['value']) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="3" style="text-align: center;">
                                    Nenhum lançamento nesta fatura.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>

<app-sidebar-details [value]="selectedValue" [visible]="visibleSidebar" [fields]="fields" (visibleChange)="closeSidebarDetails()">
    <div actions>
        <button type="button" pButton class="p-button-contrast p-button-sm me-2" [routerLink]="['/transactions/', selectedValue.codeTypeCategory, selectedValue.id]" [disabled]="!authService.hasPermission('UPDATE_TRANSACTIONS')">
            <i class="fa-solid fa-pencil m-1"></i>
            Editar
        </button>
        <button type="button" pButton class="p-button-contrast p-button-sm me-2" (click)="confirmationDelete(selectedValue)" [disabled]="!authService.hasPermission('DELETE_TRANSACTIONS')">
            <i class="fa-solid fa-remove m-1"></i>
            Excluir
        </button>
    </div>
</app-sidebar-details>
