<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Clientes"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Tipo pessoa *:</label>
                            <p-dropdown styleClass="w-100" name="typePerson" id="typePerson" [showClear]="false"
                                        [options]="types"
                                        [(ngModel)]="client['typePersonCode']"
                                        placeholder="Selecione"
                                        optionLabel="description"
                                        optionValue="code"
                                        required>
                                <ng-template let-typePerson pTemplate="item">
                                    {{ typePerson['description'] }}
                                </ng-template>
                                <ng-template let-selected pTemplate="selectedItem">
                                    {{ selected['description'] }}
                                </ng-template>
                            </p-dropdown>
                        </div>

                        <div class="col-md-5 col-sm-12">
                            <label class="form-label"> {{ client['typePersonCode'] == 1 ? 'Nome completo' : 'Razão Social' }} *:</label>
                            <input pInputText class="form-control" name="name" id="name" [(ngModel)]="client['name']" [required]="true" [maxlength]="70" />
                        </div>

                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> {{ client['typePersonCode'] == 1 ? 'CPF' : 'CNPJ' }} *:</label>
                            <input pInputText class="form-control" name="cpf" id="cpf" appMaskCpf [(ngModel)]="client['cpfCnpj']" [required]="true" *ngIf="client['typePersonCode'] === 1" />
                            <input pInputText class="form-control" name="cnpj" id="cnpj" appMaskCnpj [(ngModel)]="client['cpfCnpj']" [required]="true" *ngIf="client['typePersonCode'] === 2" />
                        </div>

                        <div class="col-md-2 col-sm-12" *ngIf="client['typePersonCode'] == 1">
                            <label class="form-label"> RG *:</label>
                            <input pInputText class="form-control" name="rg" id="rg" [(ngModel)]="client['rg']" [required]="true" [maxlength]="70" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> {{ client['typePersonCode'] == 1 ? 'Data de nascimento' : 'Data de abertura' }} *:</label>
                            <input pInputText class="form-control" name="dateBirth" id="dateBirth" appDateFormatPtBr [(ngModel)]="client['birthDate']" [required]="true" />
                        </div>

                        <div class="col-md-10 col-sm-12">
                            <label class="form-label"> Nome da mãe *:</label>
                            <input pInputText class="form-control" name="motherName" id="motherName" [(ngModel)]="client['motherName']" [required]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label class="form-label"> Cep *:</label>
                            <input pInputText class="form-control" name="postalCode" id="postalCode" [(ngModel)]="client['postalCode']" appMaskCep appOnlyNumber
                                   [required]="true" (change)="onFindAddrees()" />
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Endereço *:</label>
                            <input pInputText class="form-control" name="publicPlace" id="publicPlace" [(ngModel)]="client['publicPlace']" [required]="true" />
                        </div>

                        <div class="col-md-1 col-sm-12">
                            <label class="form-label"> Número *:</label>
                            <input pInputText class="form-control" name="number" appOnlyNumber id="number" [(ngModel)]="client['number']" [required]="true" />
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Bairro *:</label>
                            <input pInputText class="form-control" name="neighborhood" id="neighborhood" [(ngModel)]="client['neighborhood']" [required]="true" />
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Cidade *:</label>
                            <input pInputText class="form-control" name="city" id="city" [(ngModel)]="client['city']" [required]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label class="form-label"> Estado *:</label>
                            <p-dropdown styleClass="w-100" name="state" id="state" [showClear]="false"
                                        [options]="brazilianStates"
                                        [(ngModel)]="client['brazilianStateCode']"
                                        placeholder="Selecione"
                                        optionLabel="description"
                                        optionValue="code"
                                        required>
                                <ng-template let-state pTemplate="item">
                                    {{ state['description'] }}
                                </ng-template>
                                <ng-template let-selected pTemplate="selectedItem">
                                    {{ selected['description'] }}
                                </ng-template>
                            </p-dropdown>
                        </div>

                        <div class="col-md-9 col-sm-12">
                            <label class="form-label"> Complemento :</label>
                            <input pInputText class="form-control" name="complement" id="complement" [(ngModel)]="client['complement']" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-label"> E-mail *:</label>
                            <input pInputText class="form-control" name="email" id="email" [(ngModel)]="client['email']" [required]="true" />
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <label class="form-label"> Telefone fixo :</label>
                            <input pInputText class="form-control" name="telephone" id="telephone" appMaskTelephone [maxlength]="14" [(ngModel)]="client['telephone']" />
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <label class="form-label"> Telefone celular *:</label>
                            <input pInputText class="form-control" name="cellPhone" id="cellPhone" appMaskTelephone [(ngModel)]="client['cellPhone']" [required]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-label">Ativo:</label>
                            <p-inputSwitch name="active" id="active" styleClass="form-control"
                                           [(ngModel)]="client['active']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <button pButton type="button" class="p-button-success p-button-sm" (click)="openDialogContact()">
                        <i class="fa-solid fa-plus m-1"></i>
                        Contatos referência
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="title">Contatos de  referência</h1>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <p-table [value]="client.contacts"
                                 responsiveLayout="stack" [breakpoint]="'960px'" styleClass="p-datatable-striped p-datatable p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr *ngIf="client.contacts.length > 0">
                                    <th class="text-left">NOME</th>
                                    <th class="text-center">TELEFONE</th>
                                    <th class="text-center">GRAU PARENTESCO</th>
                                    <th class="text-center">AÇÕES</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-contact>
                                <tr>
                                    <td class="text-left">
                                        <span class="p-column-title">NOME</span>
                                        {{ contact['name'].toUpperCase() }}
                                    </td>
                                    <td class="text-center">
                                        <span class="p-column-title">TELEFONE</span>
                                        {{ contact['telephone'] | phoneMask }}
                                    </td>
                                    <td class="text-center">
                                        <span class="p-column-title">GRAU PARENTESCO</span>
                                        {{ contact['degreeKinship'].toUpperCase() }}
                                    </td>
                                    <td class="text-center">
                                        <span class="p-column-title">AÇÕES</span>
                                        <p-button [link]="true" (onClick)="deleteContact(contact)">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </p-button>
                                        <p-button [link]="true" (onClick)="updateOpenDialogContact(contact)">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </p-button>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4" style="text-align: center;">
                                        Nenhum registro inserido.
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!form.valid">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/search/clients">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
