<form autocomplete="off" class="fade-in">
    <app-title name="Históricos fipe"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Veículo:</label>
                            <p-dropdown styleClass="w-100" name="vehicle" id="vehicle" placeholder="Selecione"
                                        optionLabel="fullname" optionValue="id"
                                        [options]="vehicles" required="true" [(ngModel)]="selectedVehicle" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="button" pButton class="p-button-success p-button-sm" (click)="search()">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <app-simple-table-historyfipe [data]="histories" *ngIf="researched"></app-simple-table-historyfipe>
    <app-group-table-historyfipe [data]="histories" *ngIf="!researched"></app-group-table-historyfipe>
</form>
