<div class="row">
    <div class="col-md-6">
        <label class="form-label"> Permissões do sistema *:</label>
        <div class="picklist">
            <div class="picklist-item" *ngFor="let feature of features">
                <span> {{ feature['name'] }} </span>
                <button pButton type="button" class="p-button-success p-button-sm" (click)="toAdd(feature)"> Adicionar </button> <br />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label"> Permissões associadas ao perfil *:</label>
        <div class="picklist">
            <div class="picklist-item" *ngFor="let selectedFeature of selectedFeatures">
                <span> {{ selectedFeature['name'] }} </span>
                <button pButton type="button" class="p-button-danger p-button-sm" (click)="remove(selectedFeature)"> Remover </button> <br />
            </div>
        </div>
    </div>
</div>
