aside {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #2c3e50;

    top: 0;
    left: 0;

    transition: margin-left 0.3s ease;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.navbar-toggler-icon {
    display: block;
}

.mobile-logo {
    display: none;
}

.logo {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    padding: 0.97rem;

    border-bottom: 1px solid #34495e;
    color: #fff;
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar > li {
    color: #fff;

    padding: 15px 20px;
    border-bottom: 1px solid #34495e;
}

.sidebar > li:hover {
    background-color: #47B051;
    cursor: pointer;

    color: #fff;

    transition: 0.5s;
}

.sidebar > li.active {
    background-color: #47B051;
    color: #fff;
}

.sidebar a {
    margin-left: 5px;
    text-decoration: none;

    color: #fff;
}

.sidebar li:hover a {
    color: #fff;
}

.sidebar > li.active a {
    background-color: #47B051;
    color: #fff;
}

.sidebar > li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-out;

    position: relative;
    background: #dfdfdf;
    left: -20px;
    bottom: -14px;
    width: 250px;
}

.sidebar > li:hover > ul,
.sidebar > li.active > ul {
    max-height: 500px;
    transition: max-height 0.9s ease-in;
}

.sidebar > li > ul > li {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
}

.sidebar > li > ul > li a,
.sidebar > li > ul > li span {
    color: #34495e;
}

.sidebar > li > ul > li:hover a,
.sidebar > li > ul > li:hover span {
    color: #fff;
}

.sidebar > li:hover > ul {
    display: block;
}

.sidebar > li > ul > li:hover {
    background-color: #47B051;
}

.sidebar > li.active > ul {
    display: block;
}

.sidebar > li > ul li:first-child {
    border-top: 1px solid #fff;
}

.footer > span, .footer > small {
    color: #dfdfdf !important;
    margin-left: 15px;
}

.mv-toggle {
    display: none;
}

@media (max-width: 768px) {
    aside {
        margin-left: -100vw;
    }

    .sidebar > li:hover > ul,
    .sidebar > li > ul {
        width: 100vw;
    }

    .mv-toggle {
        display: block;

        font-size: 1.875rem !important;
        color: #fff;
        position: absolute;
        right: 10px;
        top: 45px;
    }
}
