<aside>
    <span class="logo">
        <div class="main-logo">
            <img ngSrc="assets/logo-mover.svg" height="85" width="202"/>
        </div>

        <div class="mobile-logo">
            <img ngSrc="assets/m.svg" height="43" width="64"/>
        </div>
    </span>
    <ul class="sidebar">
        <li>
            <i class="fa-solid fa-gauge"></i>
            <a routerLink="/dashboard/home"> Dashboard </a>
        </li>
        <li>
            <i class="fa-regular fa-newspaper"></i>
            <a href="#"> Operacional </a>
            <ul>
                <li> <a routerLink="/search/brands"> Marcas </a> </li>
                <li> <a routerLink="/search/models"> Modelos </a> </li>
                <li> <a routerLink="/search/brands"> Veículos </a> </li>
            </ul>
        </li>
        <li>
            <i class="fa-solid fa-chart-line"></i>
            <a href="#"> Relatórios </a>
            <ul>
                <li> <a href="#"> Gastos </a> </li>
                <li> <a href="#"> Manutenções </a> </li>
                <li> <a href="#"> Multas </a> </li>
            </ul>
        </li>
        <li>
            <i class="fa-solid fa-car"></i>
            <a href="#"> Minha Frota </a>
        </li>
        <li>
            <i class="fa-solid fa-peace"></i>
            <a href="#"> Condutores </a>
        </li>
        <li>
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <a href="#"> Manutenções </a>
        </li>
        <li>
            <i class="fa-solid fa-sack-dollar"></i>
            <a href="#"> Despesas </a>
        </li>
        <li>
            <i class="fa-solid fa-dolly"></i>
            <a href="#"> Fornecedores </a>
        </li>
        <li>
            <i class="fa-solid fa-shield-halved"></i>
            <a href="#"> Segurança </a>
            <ul>
                <li> <a href="#"> Usuário </a> </li>
                <li> <a href="#"> Perfil </a> </li>
                <li> <a href="#"> Permissões </a> </li>
            </ul>
        </li>
        <li>
            <i class="fa-solid fa-gear"></i>
            <a href="#"> Configurações </a>
        </li>
    </ul>

    <div class="footer mt-auto">
        <span class="badge bg-success"> {{ productionEnviroment ? 'PRD' : 'DSV' }} </span> <br />
        <small> Versão: {{ version }}_Release </small>
    </div>
</aside>
