<aside>
    <span class="logo">
        <img src="" /> Logo
    </span>
    <ul class="sidebar">
        <li> <i class="fa-solid fa-gauge"></i>
            <a href="#"> Dashboard </a>
        </li>
        <li > <i class="fa-regular fa-newspaper"></i>
            <a href="#"> Relatórios </a>
            <ul>
                <li> <a href="#"> Gastos </a> </li>
                <li> <a href="#"> Manutenções </a> </li>
                <li> <a href="#"> Multas </a> </li>
            </ul>
        </li>
        <li> <i class="fa-solid fa-car"></i>
            <a href="#"> Minha Frota </a>
        </li>
        <li> <i class="fa-solid fa-peace"></i>
            <a href="#"> Condutores </a>
        </li>
        <li> <i class="fa-solid fa-screwdriver-wrench"></i>
            <a href="#"> Manutenções </a>
        </li>
        <li> <i class="fa-solid fa-sack-dollar"></i>
            <a href="#"> Despesas </a>
        </li>
        <li> <i class="fa-solid fa-dolly"></i> <a href="#">
            Fornecedores </a>
        </li>
    </ul>
</aside>
