aside {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #2c3e50;

    top: 0;
    left: 0;
    /*overflow-y: auto;*/
    transition: width 0.3s ease;
}

.logo {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    padding: 0.97rem;

    border-bottom: 1px solid #34495e;
    color: #fff;
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar > li {
    color: #fff;
}

.sidebar a {
    margin-left: 5px;
    text-decoration: none;

    color: #fff;
}

.sidebar > li {
    padding: 15px 20px;
    border-bottom: 1px solid #34495e;
}

.sidebar > li:hover {
    background-color: #f7cd24;
    cursor: pointer;

    color: #34495e;

    transition: 0.5s;
}

.sidebar li:hover a {
    color: #34495e;
}

.sidebar > li.active {
    background-color: #f7cd24;
    color: #34495e;
}

.sidebar > li.active a {
    background-color: #f7cd24;
    color: #34495e;
}

.sidebar > li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    position: relative;
    background: #dfdfdf;
    left: -20px;
    bottom: -14px;
    width: 250px;
}

.sidebar > li:hover > ul,
.sidebar > li.active > ul {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}

.sidebar > li > ul > li {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
}

.sidebar > li > ul > li a {
    color: #34495e;
}

.sidebar > li:hover > ul {
    display: block;
}

.sidebar > li > ul > li:hover {
    background-color: #f7cd24;
}

.sidebar > li.active > ul {
    display: block;
}

@media (max-width: 768px) {
    aside {
        width: 80px;
        overflow-y: inherit;
    }

    .sidebar > li > i {
        display: flex;
        justify-content: center;
    }

    .sidebar > li > a {
        display: none;
    }
}
