<ul class="sidebar">
    <li class="logo"></li>
    <li>Dashboard</li>
    <li class="dropdown">
        <input type="checkbox" id="report-toggle" class="dropdown-toggle">
        <label for="report-toggle" class="dropdown-label">
            Relatórios <span class="arrow">&#9660;</span>
        </label>
        <ul class="dropdown-content">
            <li>Gastos</li>
            <li>Manutenções</li>
            <li>Multas</li>
        </ul>
    </li>
    <li>Minha Frota</li>
    <li>Condutores</li>
    <li>Manutenções</li>
    <li>Despesas</li>
    <li>Fornecedores</li>
</ul>
