<div class="card">
    <div class="card-header">
        <label> {{ label }}</label>
        <ng-container *ngIf="!loading; else showContent">
            <div class="loading-overlay">
                <div class="spinner-border text-secondary" role="status" style="display: block;">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
        </ng-container>
        <ng-template #showContent>
            <div class="card-content">
                <h5>{{ value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                <div class="info-container">
                    <span class="badge text-bg-secondary text-white mb-1">{{ quantity }}</span>
                    <a (click)="navigateToTransactions()" class="action-link" *ngIf="quantity ?? 0" style="cursor: pointer;">Detalhar</a>
                </div>
            </div>
        </ng-template>
    </div>
</div>
