<form autocomplete="off" class="fade-in">
    <app-title name="Lançamentos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <label class="form-label"> Período: </label> <br/>
                            <p-calendar id="period" name="period" view="month" dateFormat="mm/yy" [readonlyInput]="true" inputStyleClass="cursor-pointer"
                                [(ngModel)]="periodoFilter" [showButtonBar]="false" (onSelect)="search()" />
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label class="form-label"> Conta: </label> <br/>
                            <p-multiSelect id="account" name="account" [showHeader]="false" emptyMessage="Nenhuma conta encontrada."
                                [options]="accounts" optionLabel="name" [(ngModel)]="selectedAccounts" [style]="{ height: 'inherit', border: '1px solid #dfe2e6'}" />
                        </div>
                        <div class="col-md-7">
                            <label class="form-label"> Pesquisar: </label>
                            <input pInputText class="form-control" name="search" id="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="submit" pButton class="p-button-success p-button-sm" (click)="search()" [disabled]="!authService.hasPermission('FILTER_TRANSACTIONS')">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/transactions/new" [disabled]="!authService.hasPermission('REGISTER_TRANSACTIONS')">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br *ngIf="allowFilterTransactions" />

    <div class="row g-3" *ngIf="allowFilterTransactions">
        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Saldo em conta corrente</label>
                    <h5 class="{{ balance['currentAccount'] < 0 ? 'text-danger' : '' }}">{{ balance['currentAccount'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Receitas</label>
                    <h5 class="text-success">{{ balance['income'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Despesas</label>
                    <h5 class="text-danger">{{ balance['expense'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <label>Balanço mensal</label>
                    <h5 class="{{ balance['generalBalance'] < 0 ? 'text-danger' : '' }}">{{ NumberHelpers.invertSignalWhenNegative(balance['generalBalance']) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table [value]="transactions" responsiveLayout="stack" [breakpoint]="'1300px'" appStickTableHeader
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines"
                             sortMode="single"
                             sortField="date"
                             [sortOrder]="-1"
                             [scrollable]="false"
                             rowGroupMode="subheader"
                             groupRowsBy="date">
                        <ng-template pTemplate="header">
                            <tr *ngIf="transactions.length > 0">
                                <th class="text-center"></th>
                                <th class="text-left">DESCRIÇÃO</th>
                                <th class="text-left">CATEGORIA</th>
                                <th class="text-center">VALOR</th>
                                <th class="text-center">AGENDADO</th>
                                <th class="text-center">EFETIVADO</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="groupheader" let-transaction>
                            <tr pRowGroupHeader>
                                <td colspan="7">
                                    <strong style="font-size: 1rem;"> {{ transaction['date'] }} </strong> <i style="font-size: 1rem;">({{ transaction['dayOfWeek'].toUpperCase() }})</i>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-transaction>
                            <tr>
                                <td class="text-center" style="width: .625rem">
                                    <img src="{{ transaction['icon'] }}" style="width: 2.1rem; border-radius: 30%;"  alt="icon" />
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">DESCRIÇÃO</span>
                                    <span>{{ transaction['description'].toUpperCase() }}</span>
                                </td>
                                <td class="text-left" style="width: 400px">
                                    <span class="p-column-title">CATEGORIA</span>
                                    <span>{{ transaction['subcategory'] }}</span>
                                </td>
                                <td class="text-right {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} ">
                                    <span class="p-column-title">VALOR</span>
                                    {{ NumberHelpers.invertSignalWhenNegative(transaction['value']) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AGENDADO</span>
                                    <a *ngIf="transaction['scheduled'] === true" (click)="undoScheduling(transaction)" style="cursor: pointer; {{ allowUndoScheduling ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge text-bg-success disabled"> Sim </span>
                                    </a>
                                    <a *ngIf="transaction['scheduled'] === false" (click)="schedule(transaction)" style="cursor: pointer; {{ allowSchedule ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge text-bg-danger"> Não </span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">EFETIVADO</span>
                                    <a *ngIf="transaction['paid'] === true" (click)="refund(transaction)" style="cursor: pointer; {{ allowRefund ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge text-bg-success disabled"> Sim </span>
                                    </a>
                                    <a *ngIf="transaction['paid'] === false" (click)="confirmationPayment(transaction)" style="cursor: pointer; {{ allowPayment ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge text-bg-danger"> Não </span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÔES</span>
                                    <div class="dropdown position-static" *ngIf="!transaction['hasInvoice']">
                                        <button class="btn btn-secondary btn-sm" type="button" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actions">
                                            <li>
                                                <p-button [link]="true" class="dropdown-item" (click)="confirmationDelete(transaction)" [disabled]="!authService.hasPermission('DELETE_TRANSACTIONS')">
                                                    <i class="fa-regular fa-trash-can m-sm-1"></i> Excluir
                                                </p-button>
                                            </li>
                                            <li>
                                                <p-button class="dropdown-item" [link]="true" [routerLink]="['/transactions/', transaction.id]" [disabled]="!authService.hasPermission('UPDATE_TRANSACTIONS')">
                                                    <i class="fa-regular fa-pen-to-square m-sm-1"></i> Editar
                                                </p-button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card-actions" *ngIf="transaction['hasInvoice']">
                                        <p-button [link]="true" (click)="transaction['expanded'] ? rowReduce(transaction) : rowExpanded(transaction)">
                                            <i class="fa-solid  {{ transaction['expanded'] ? 'fa-minus' : 'fa-plus' }}"></i>
                                        </p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <app-scroll-up></app-scroll-up>

            <br />

            <div class="col-md-12 mb-10 text-center">
                <button pButton type="button" class="p-button-contrast p-button-sm ms-2" *ngIf="remainingPages > 0" (click)="showMore()">
                    <i class="fa-solid fa-rotate-right m-1"></i>
                    Mostrar mais...
                </button>
            </div>
        </div>
    </div>
</form>

<app-dialog-confirmation-payment (transactionPayment)="updateTransactions()"></app-dialog-confirmation-payment>
<app-dialog-delete-transaction (transactionDeleted)="updateTransactions()"></app-dialog-delete-transaction>
