<form autocomplete="off" class="fade-in">
    <app-title name="Lançamentos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <label class="form-label" for="period"> Período: </label> <br/>
                            <p-calendar id="period" name="period" view="month" dateFormat="mm/yy" [readonlyInput]="true" inputStyleClass="cursor-pointer"
                                [(ngModel)]="periodFilter" [showButtonBar]="false" (onSelect)="search()" (onFocus)="onCalendarFocus()" (onBlur)="onCalendarBlur()" />
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label class="form-label" for="account"> Conta: </label> <br/>
                            <p-multiSelect id="account" name="account" [showHeader]="false" emptyMessage="Nenhuma conta encontrada."
                                [options]="accounts" optionLabel="name" [(ngModel)]="selectedAccounts" [style]="{ height: 'inherit', border: '1px solid #dfe2e6'}" />
                        </div>
                        <div class="col-md-7 position-relative">
                            <label class="form-label" for="search"> Pesquisar: </label>
                            <input pInputText class="form-control pe-5" name="search" id="search" [(ngModel)]="searchText" />
<!--                            <button type="button" class="btn btn-outline-secondary position-absolute end-0 top-0 translate-middle-y me-3 mt-5" title="Mostra mais opções de pesquisa">-->
<!--                                <i class="fa-solid fa-sliders"></i>-->
<!--                            </button>-->
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-3 col-md-3 text-md-start">
                            <button type="submit" pButton class="p-button-success p-button-sm" (click)="search()" [disabled]="!authService.hasPermission('FILTER_TRANSACTIONS')">
                                <i class="fa-solid fa-magnifying-glass me-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-9 col-md-9 text-md-end  d-flex justify-content-end align-items-center">
                            <div class="dropdown position-static">
                                <button pButton class="p-button-contrast p-button-sm me-1" type="button" id="actions1" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="!authService.hasPermission('REGISTER_TRANSACTIONS')">
                                    <i class="fa-solid fa-plus me-1"></i>
                                    Novo
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="actions">
                                    <li>
                                        <p-button [link]="true" class="dropdown-item" routerLink="/transactions/1/new">
                                            <i class="m-sm-1"></i> Receita
                                        </p-button>
                                    </li>
                                    <li>
                                        <p-button class="dropdown-item" [link]="true" routerLink="/transactions/2/new">
                                            <i class="m-sm-1"></i> Despesa
                                        </p-button>
                                    </li>
                                    <li>
                                        <p-button class="dropdown-item" [link]="true" routerLink="/transactions/3/new">
                                            <i class="m-sm-1"></i> Investimento
                                        </p-button>
                                    </li>
                                    <li>
                                        <p-button class="dropdown-item" [link]="true" routerLink="/transactions/4/new">
                                            <i class="m-sm-1"></i> Transferência
                                        </p-button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="allowFilterTransactions">
        <br />
        <div class="row g-3">
            <div class="col-md-3 col-sm-12 mb-10">
                <div class="card">
                    <div class="card-header">
                        <label>Saldo em conta corrente</label>
                        <h5 class="{{ balance['currentAccount'] < 0 ? 'text-danger' : '' }}">{{ NumberHelpers.invertSignalWhenNegative(balance['currentAccount']) | currency:'BRL' }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 mb-10">
                <div class="card">
                    <div class="card-header">
                        <label>Receitas</label>
                        <h5 class="text-success">{{ balance['income'] | currency:'BRL' }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 mb-10">
                <div class="card">
                    <div class="card-header">
                        <label>Despesas</label>
                        <h5 class="text-danger">{{ balance['expense'] | currency:'BRL' }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 mb-10">
                <div class="card">
                    <div class="card-header">
                        <label>Balanço mensal</label>
                        <h5 class="{{ balance['generalBalance'] < 0 ? 'text-danger' : '' }}">{{ NumberHelpers.invertSignalWhenNegative(balance['generalBalance']) | currency:'BRL' }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table [value]="transactions"
                             responsiveLayout="stack" [breakpoint]="'1300px'" appStickTableHeader
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines"
                             dataKey="id"
                             rowGroupMode="subheader"
                             groupRowsBy="date"
                             selectionMode="single"
                             [(selection)]="selectedValue"
                             (onRowSelect)="onRowSelect()"
                             (onRowUnselect)="onRowUnSelect($event)"
                             [customSort]="true">
                        <ng-template pTemplate="header">
                            <tr *ngIf="transactions.length > 0">
                                <th class="text-center"></th>
                                <th class="text-left" style="width: 700px;">DESCRIÇÃO</th>
                                <th class="text-left" style="width: 250px">CATEGORIA</th>
                                <th class="text-center">VALOR</th>
                                <th class="text-center">AGENDADO</th>
                                <th class="text-center">EFETIVADO</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="groupheader" let-transaction>
                            <tr pRowGroupHeader>
                                <td colspan="6">
                                    <strong style="font-size: 1rem;"> {{ transaction['date'] }} </strong> <i style="font-size: 1rem;">({{ transaction['dayOfWeek'].toUpperCase() }})</i><br/>
                                    <span style="font-size: 1rem!important;">
                                        Saldo do dia
                                        {{ transaction['dailyBalance'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-transaction>
                            <tr [pSelectableRow]="transaction">
                                <td class="text-center" style="width: .625rem">
                                    <img src="{{ transaction['icon'] }}" style="width: 2.1rem; {{ !transaction['invoice'] ? 'border-radius: 30%;' : '' }}"  alt="icon" />
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">DESCRIÇÃO</span>
                                    <span>{{ transaction['description'].toUpperCase() }}</span>
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">CATEGORIA</span>
                                    <span>{{ transaction['subcategory'] }}</span>
                                </td>
                                <td class="text-right {{ transaction['transactionType'] === 'DÉBITO' ? 'text-danger' : '' }} ">
                                    <span class="p-column-title">VALOR</span>
                                    {{ NumberHelpers.invertSignalWhenNegative(transaction['value']) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AGENDADO</span>
                                    <a *ngIf="transaction['scheduled'] === true" (click)="undoScheduling(transaction)" style="cursor: pointer; {{ allowUndoScheduling ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge rounded-pill text-bg-success"> Sim </span>
                                    </a>
                                    <a *ngIf="transaction['scheduled'] === false" (click)="schedule(transaction)" style="cursor: pointer; {{ allowSchedule ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge rounded-pill text-bg-secondary"> Não </span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">EFETIVADO</span>
                                    <a *ngIf="transaction['paid'] === true" (click)="refund(transaction)" style="cursor: pointer; {{ allowRefund ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge rounded-pill text-bg-success disabled"> Sim </span>
                                    </a>
                                    <a *ngIf="transaction['paid'] === false" (click)="confirmationPayment(transaction)" style="cursor: pointer; {{ allowPayment ? '' : 'opacity: .3; cursor: default;' }}">
                                        <span class="badge rounded-pill text-bg-danger"> Não </span>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <app-scroll-up></app-scroll-up>
            <div appIfiniteScroll [disabled]="loadingData || !pagination.hasMore" (scrolled)="loading()"></div>
        </div>
    </div>
</form>

<app-sidebar-details [value]="selectedValue" [visible]="visibleSidebar" [fields]="fields" (visibleChange)="closeSidebarDetails()">
    <div actions>
        <button *ngIf="!selectedValue.invoice" type="button" pButton class="p-button-contrast p-button-sm me-2" [routerLink]="['/transactions/', selectedValue.codeTypeCategory, selectedValue.id]" [disabled]="!authService.hasPermission('UPDATE_TRANSACTIONS')">
            <i class="fa-solid fa-pencil m-1"></i>
            Editar
        </button>
        <button *ngIf="selectedValue.invoice" type="button" pButton class="p-button-contrast p-button-sm me-2" [routerLink]="['/invoices/', selectedValue.id, 'credit-card', selectedValue.cardId]" [disabled]="!authService.hasPermission('UPDATE_TRANSACTIONS')">
            <i class="fa-solid fa-pencil m-1"></i>
            Editar
        </button>
        <button *ngIf="!selectedValue.invoice" type="button" pButton class="p-button-contrast p-button-sm me-2" [routerLink]="['/transactions/', selectedValue.codeTypeCategory, selectedValue.id, 'clone']" [disabled]="!authService.hasPermission('REGISTER_TRANSACTIONS')">
            <i class="fa-regular fa-clone m-1"></i>
            Clonar
        </button>
        <button type="button" pButton class="p-button-contrast p-button-sm me-2" (click)="confirmationDelete(selectedValue)" [disabled]="!authService.hasPermission('DELETE_TRANSACTIONS')">
            <i class="fa-solid fa-remove m-1"></i>
            Excluir
        </button>
    </div>
</app-sidebar-details>
