@media (max-width: 768px) {
    .card-footer:has(> button:nth-of-type(3):last-of-type) > button {
        width: 100%;
        display: flow;
        margin-bottom: 5px;
    }

    .card-footer:has(> button:nth-of-type(3):last-of-type) span {
        text-align: center!important;
    }

    .card-footer:has(> button:nth-of-type(3):last-of-type) .ms-2 {
        margin-left: 0!important;
    }

    .card-footer:has(> button:nth-of-type(3):last-of-type) {
        text-align: center !important;
    }

    .card-footer:has(> button:nth-of-type(3):last-of-type) > a {
        float: inherit !important;
        margin-bottom: 0;
    }
}

.color-white {
    color: #fff !important;
}
