<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Lançamentos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}
                         {{ descriptionType }}
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Categoria *:</label>
                            <p-dropdown styleClass="w-100" name="subcategory" id="subcategory" placeholder="Selecione"
                                        [options]="groupCategories" optionLabel="label" optionValue="value" [group]="true"
                                        emptyMessage="Nenhuma subcategoria encontrada" required="true" [(ngModel)]="transaction['subcategoryId']"
                                        [filter]="true" [disabled]="!transaction['categoryType']" />
                        </div>
                        <div class="col-md-7">
                            <label class="form-label"> Descrição *:</label>
                            <input pInputText class="form-control" name="description" id="description" [required]="true" [(ngModel)]="transaction['description']" [maxlength]="70" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label"> Data *:</label>
                            <p-calendar appendTo="body" name="registerDate" id="registerDate" [(ngModel)]="transaction['registerDate']" [required]="true" dateFormat="dd/mm/yy" [readonlyInput]="true" />
                        </div>
                    </div>

                    <app-transfer-transaction [transaction]="transaction"></app-transfer-transaction>
                    <app-corporate-capital-transaction [transaction]="transaction"></app-corporate-capital-transaction>
                    <app-common-transaction [transaction]="transaction"></app-common-transaction>

                    <div class="row" *ngIf="!transaction['invoiceId']">
                        <div class="col-md-3">
                            <label class="form-label">Pago:</label>
                            <p-inputSwitch name="paid" id="paid" styleClass="form-control" (onChange)="processPayment()"
                                           [(ngModel)]="transaction['paid']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Agendar:</label>
                            <p-inputSwitch name="scheduled" id="scheduled" styleClass="form-control"
                                           [(ngModel)]="transaction['scheduled']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!formValid()">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <button pButton type="button" class="p-button-contrast p-button-sm ms-2" *ngIf="!enableInstallments && isNewRegister()" [disabled]="!transaction['value'] || !authService.hasPermission('ENABLED_INSTALLMENT_TRANSACTIONS')" (click)="enableRepeat()">
                        <i class="fa-solid fa-repeat m-1"></i>
                        {{ enableInstallments ? 'Desativa' : 'Ativa' }} repetição
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;"
                        [routerLink]="transaction['invoiceId'] ? ['/invoices', transaction['invoiceId'], 'credit-card', transaction['cardId']] : ['/transactions']">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div *ngIf="enableInstallments">
        <app-title name="Repetição"></app-title>

        <div class="row g-3">
            <div class="col-md-12 mb-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"> Tipo repetição :</label>
                                <p-dropdown styleClass="w-100" name="type" id="type" placeholder="Selecione" [options]="typesEnum" [(ngModel)]="transaction['paymentType']" (onChange)="loadingInstallments()" />
                            </div>

                            <div class="col-md-3">
                                <label class="form-label"> Ciclo :</label>
                                <p-dropdown styleClass="w-100" name="frequency" id="frequency" placeholder="Selecione" [options]="frequencyEnum" [(ngModel)]="transaction['frequency']" />
                            </div>

                            <div class="col-md-3" *ngIf="transaction['paymentType'] === 'IN_INSTALLMENTS'">
                                <label class="form-label"> Número de parcelas :</label>
                                <p-dropdown styleClass="w-100" name="installments" id="installments" placeholder="Selecione" [options]="installments" [(ngModel)]="transaction['installment']"
                                            emptyMessage="Nenhuma parcela encontrada" [filter]="true"
                                            (onChange)="calculatesInstallmentValue()"/>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label"> Valor da parcela :</label>
                                <input pInputText class="form-control" name="installmentValue " id="installmentValue" appCurrencyFormatPtBr [(ngModel)]="transaction['installmentValue']" [readonly]="true"
                                    style="border: 0; font-size: 1.875rem!important; padding: 0!important; margin-top: -2px;" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button pButton type="button" class="p-button-contrast p-button-sm" (click)="enableInstallments = !enableInstallments" [disabled]="!authService.hasPermission('ENABLED_INSTALLMENT_TRANSACTIONS')">
                            <i class="fa-solid fa-repeat m-1"></i>
                            {{ enableInstallments ? 'Desativa' : 'Ativa' }} repetição
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
