<form autocomplete="off" class="fade-in">
    <app-title name="Manutenções"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" name="search" id="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="submit" pButton class="p-button-success p-button-sm" [disabled]="!authService.hasPermission('FILTER_MAINTENANCE')" (click)="filterBy()">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/maintenance/new" [disabled]="!authService.hasPermission('REGISTER_MAINTENANCE')">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table appStickTableHeader
                             [value]="maintenances"
                             dataKey="id"
                             selectionMode="single"
                             [(selection)]="selectedValue"
                             (onRowSelect)="onRowSelect()"
                             (onRowUnselect)="onRowUnSelect($event)"
                             responsiveLayout="stack" [breakpoint]="'1300px'"
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr *ngIf="maintenances.length > 0">
                                <th class="text-center">DATA</th>
                                <th class="text-left">VEÍCULO</th>
                                <th class="text-center">KM</th>
                                <th class="text-left">TIPO</th>
                                <th class="text-center">VALOR</th>
                                <th class="text-center">ATIVO</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-maintenance>
                            <tr [pSelectableRow]="maintenance">
                                <td class="text-center">
                                    <span class="p-column-title">DATA</span>
                                    {{ maintenance['date'] }}
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">VEÍCULO</span>
                                    <span> {{ maintenance['vehicleName'] }} </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">KM</span>
                                    <span> {{ maintenance['mileage'] | number }} </span>
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">TIPO</span>
                                    <span> {{ maintenance['type'] }} </span>
                                </td>
                                <td class="text-right">
                                    <span class="p-column-title">VALOR</span>
                                    {{ maintenance['value'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">ATIVO</span>
                                    <span class="badge rounded-pill {{ maintenance['active'] == true ? 'text-bg-success' : 'text-bg-danger' }} ">
                                        {{ maintenance["active"] === true ? 'Sim' : 'Não' }}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>

<app-sidebar-details [value]="selectedValue" [visible]="visibleSidebar" [fields]="fields" (visibleChange)="closeSidebarDetails()">
    <div actions>
        <button type="button" pButton class="p-button-contrast p-button-sm me-2" [routerLink]="['/maintenance/', selectedValue.id]" [disabled]="!authService.hasPermission('UPDATE_MAINTENANCE')">
            <i class="fa-solid fa-pencil m-1"></i>
            Editar
        </button>
        <button type="button" pButton class="p-button-contrast p-button-sm me-2" (click)="confirmationDelete(selectedValue)" [disabled]="!authService.hasPermission('DELETE_MAINTENANCE')">
            <i class="fa-solid fa-remove m-1"></i>
            Excluir
        </button>
    </div>
</app-sidebar-details>
