<p-dialog header="{{ subcategory.id > 0 ? 'Atualizar' : 'Adicionar' }} uma subcategoria" [modal]="true"  [(visible)]="visible" [style]="{ width: '25rem' }" [draggable]="false">
    <form autocomplete="off" #form="ngForm">
        <div class="row g-3">
            <div class="col-md-12 mb-10" style="margin-top: -1.125rem; margin-bottom: -0.9375rem; padding-left: 0">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label"> Descricao *:</label>
                                <input pInputText class="form-control" name="description" id="description" [required]="true" [(ngModel)]="subcategory['description']" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Ativo:</label>
                                <p-inputSwitch name="active" id="active" styleClass="form-control"
                                               [(ngModel)]="subcategory['active']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button pButton type="button" class="p-button-success p-button-sm" (click)="saveOrUpdate()" [disabled]="!form.valid">
                            <i class="fa-solid fa-save m-1"></i>
                            Salvar
                        </button>
                        <button pButton type="button" class="p-button-danger p-button-sm ms-2" (click)="visible = !visible">
                            <i class="fa-solid fa-remove m-1"></i>
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>
