<div class="card">
    <div class="card-header">
        <label> {{ label }}</label>
        <ng-container *ngIf="!loading; else showContent">
            <div class="loading-overlay">
                <div class="spinner-border text-secondary" role="status" style="display: block;">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
        </ng-container>
        <ng-template #showContent>
            <h5> {{ quantity }} </h5>
        </ng-template>
    </div>
</div>
