<div *ngIf="invoicePaymentDetails.length > 0">
    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h6>Detalhes do pagamento:</h6>
                </div>
                <div class="card-body detail-payment" style="margin-top: -20px;">
                    <p-table [value]="invoicePaymentDetails"
                             responsiveLayout="stack" [breakpoint]="'1300px'"
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines"
                             [customSort]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-left">DATA</th>
                                <th class="text-center">CONTA</th>
                                <th class="text-center">VALOR</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-detail>
                            <tr>
                                <td class="text-left">
                                    {{ detail['date'] }}
                                </td>
                                <td class="text-center">
                                    {{ detail['account'] }}
                                </td>
                                <td class="text-center">
                                    {{ NumberHelpers.invertSignalWhenNegative(detail['value']) | currency:'BRL' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÕES</span>
                                    <div class="dropdown position-static">
                                        <button class="btn btn-secondary btn-sm" type="button" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actions">
                                            <li>
                                                <p-button class="dropdown-item" [link]="true" (click)="confirmationDelete(detail)">
                                                    <i class="fa-regular fa-trash-can m-sm-1"></i> Excluir
                                                </p-button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="footer">
                            <tr>
                                <td></td>
                                <td class="text-center"> TOTAL PAGO </td>
                                <td class="text-center">
                                    {{ NumberHelpers.invertSignalWhenNegative(totalAmountPaid) | currency:'BRL' }}
                                </td>
                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
