<header class="header">
    <app-header></app-header>
</header>

<div class="main">
    <app-menu-lateral></app-menu-lateral>
    <main class="content container-fluid">
        <router-outlet></router-outlet>
    </main>

    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" #confirmDialog>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" class="p-button-contrast p-button-sm"
                    (click)="confirmDialog.accept()">
                Sim
            </button>
            <button type="button" pButton icon="pi pi-times" class="p-button-danger p-button-outlined p-button-sm ms-2"
                    (click)="confirmDialog.reject()">
                Não
            </button>
        </p-footer>
    </p-confirmDialog>
</div>
