<!--<header class="header">-->
<!--    <app-header></app-header>-->
<!--</header>-->

<!--<app-loader></app-loader>-->

<!--<div class="main">-->
<!--    <main class="content container-fluid">-->
<!--        <router-outlet></router-outlet>-->
<!--    </main>-->

<!--    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>-->

<!--    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" #confirmDialog>-->
<!--        <p-footer>-->
<!--            <ng-container *ngTemplateOutlet="defaultButtons"></ng-container>-->
<!--        </p-footer>-->
<!--    </p-confirmDialog>-->

<!--    <ng-template #defaultButtons>-->
<!--        <button type="button" pButton icon="pi pi-check" class="p-button-contrast p-button-sm" (click)="confirmDialog.accept()">-->
<!--            Sim-->
<!--        </button>-->
<!--        <button type="button" pButton icon="pi pi-times" class="p-button-danger p-button-outlined p-button-sm ms-2" (click)="confirmDialog.reject()">-->
<!--            Não-->
<!--        </button>-->
<!--    </ng-template>-->

<!--    <app-global-dialog></app-global-dialog>-->
<!--</div>-->
<router-outlet></router-outlet>
<app-global-dialog></app-global-dialog>
