<form autocomplete="off" class="fade-in">
    <app-title name="Usuários"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" id="search" name="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="submit" pButton class="p-button-success p-button-sm" (click)="filterBy()" [disabled]="!authService.hasPermission('FILTER_USERS')">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/users/new" [disabled]="!authService.hasPermission('REGISTER_USERS')">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table #table [value]="users" [paginator]="users.length > 10" [rows]="10"
                             responsiveLayout="stack" [breakpoint]="'960px'" styleClass="p-datatable-striped p-datatable p-datatable-gridlines">

                        <ng-template pTemplate="header">
                            <tr *ngIf="users.length > 0">
                                <th class="text-left">NOME</th>
                                <th class="text-left">E-MAIL</th>
                                <th class="text-center">ATIVO</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td class="text-left">
                                    <span class="p-column-title">NOME</span>
                                    <span>{{ user['name'] }}</span>
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">E-MAIL</span>
                                    <span>{{ user['email'] }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">ATIVO</span>
                                    <span class=" {{ user['active'] == true ? 'badge text-bg-success' : 'badge text-bg-danger' }} ">
                                        {{ user["active"] === true ? 'Sim' : 'Não' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÕES</span>
                                    <div class="dropdown position-static">
                                        <button class="btn btn-secondary btn-sm" type="button" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actions">
                                            <li>
                                                <p-button class="dropdown-item" [link]="true" (click)="confirmationDelete(user)" [disabled]="!authService.hasPermission('DELETE_USERS')">
                                                    <i class="fa-regular fa-trash-can m-sm-1"></i> Excluir
                                                </p-button>
                                            </li>
                                            <li>
                                                <p-button class="dropdown-item" [link]="true" [routerLink]="['/users/', user.id]" [disabled]="!authService.hasPermission('UPDATE_USERS')">
                                                    <i class="fa-regular fa-pen-to-square m-sm-1"></i> Editar
                                                </p-button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>
