<div class="row" *ngIf="transaction.categoryType === 'CAPITAL SOCIETÁRIO'">
    <div class="col-md-3">
        <label class="form-label"> Sócio *:</label>
        <p-dropdown styleClass="w-100" name="partner" id="partner" placeholder="Selecione"
                    optionLabel="name" optionValue="id" [(ngModel)]="transaction['partnerId']"
                    [options]="partners" required="true"
                    emptyMessage="Nenhum sócio encontrado" />
    </div>
    <div class="col-md-3">
        <label class="form-label"> Conta *:</label>
        <p-dropdown styleClass="w-100" name="account" id="account" placeholder="Selecione"
                    optionLabel="name" optionValue="id" [(ngModel)]="transaction['accountId']"
                    [options]="accounts" required="true"
                    emptyMessage="Nenhuma conta encontrada"/>
    </div>
    <div class="col-md-2 col-sm-12">
        <label class="form-label"> Valor *:</label>
        <input pInputText class="form-control" name="value" id="value" [(ngModel)]="transaction['value']" appCurrencyFormatPtBr [required]="true"
               (keyup)="calculatesInstallmentValue(transaction)" />
    </div>
    <div class="col-md-2">
        <label class="form-label"> Data Vencimento *:</label>
        <p-calendar appendTo="body" name="dueDate" id="dueDate" [(ngModel)]="transaction['dueDate']" [required]="true" dateFormat="dd/mm/yy" [readonlyInput]="true" />
    </div>
    <div class="col-md-2">
        <label class="form-label"> Data Pagamento :</label>
        <p-calendar appendTo="body" name="paymentDate" id="paymentDate" [(ngModel)]="transaction['paymentDate']" dateFormat="dd/mm/yy" [readonlyInput]="true"
            [showClear]="true" (onSelect)="updatePaid(transaction)" (onClear)="updatePaid(transaction)" />
    </div>
</div>
