header {
    position: fixed;
    width: 100%;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: auto;
}

.logo {
    width: 100px;
    height: 45px;
    overflow: hidden;
}

.logo img {
    width: 100px;
    height: 51px;
    object-fit: cover;
}

.info {
    display: flex;
    align-items: center;
}

.info span {
    margin-left: 10px;
}

.separator {
    color: var(--gray-400);
}

.info-username {
    font-size: 0.875rem;
}
