<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <span class="divisor"></span>
                <div class="info">
                    <span class="info-username">Carlos Tiago</span>
                    <span class="separator">|</span>
                    <span>
                    <i class="fa-regular fa-bell"></i>
                </span>
                </div>
            </a>
        </div>
    </nav>
</header>
