<p-sidebar *ngIf="value" [(visible)]="visible" [modal]="true" position="bottom" (onHide)="close()">
    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <ng-container *ngFor="let field of fields; let i = index">
                            <div class="col-md-{{ field.col }}" *ngIf="field.visible">
                                <label for="name_{{ i }}" class="form-label">
                                    <strong>{{ field.label }}:</strong>
                                </label>
                                <input id="name_{{ i }}" name="name_{{ i }}" pInputText class="form-control" readonly [value]="field.value" />
                            </div>
                        </ng-container>
                    </div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            <ng-content select="[actions]"></ng-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>
