<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <div class="row g-3">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="title">Veículos</h1>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"> Marca *:</label>
                                <p-dropdown styleClass="w-100" name="brand" id="brand" placeholder="Selecione uma marca"
                                            optionLabel="name" optionValue="id" [(ngModel)]="selectedBrandId"
                                            [options]="brands" required="true" (onChange)="onChangeFindModel()" />
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Modelo *:</label>
                                <p-dropdown styleClass="w-100" name="model" id="model" placeholder="Selecione um modelo"
                                            optionLabel="name" optionValue="id" [(ngModel)]="selectedModelId"
                                            [options]="models" required="true" [disabled]="blockSelectedModel" />
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Ano fabricação *:</label>
                                <input pInputText class="form-control" name="yearManufacture" id="yearManufacture"
                                      maxlength="4" appOnlyNumber [required]="true" [(ngModel)]="vehicle.yearManufacture">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Ano modelo *:</label>
                                <input pInputText class="form-control" name="modelYear" appOnlyNumber maxlength="4" id="modelYear"
                                       [(ngModel)]="vehicle.modelYear" [required]="true">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label"> Placa *:</label>
                                <input pInputText class="form-control" name="licensePlate" id="licensePlate" [(ngModel)]="vehicle.licensePlate" [required]="true">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label"> Renavam *:</label>
                                <input pInputText class="form-control" name="renavam" id="renavam" [(ngModel)]="vehicle.renavam" [required]="true">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Km de aquisição *:</label>
                                <input pInputText class="form-control" name="kmAquisition" id="kmAquisition" [(ngModel)]="vehicle.mileageAtAcquisition" [required]="true">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Cor *:</label>
                                <input pInputText class="form-control" name="color" id="color" [(ngModel)]="vehicle.color" [required]="true">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label"> Valor aquisição *:</label>
                                <input pInputText class="form-control" name="aquisitionValue" id="aquisitionValue" appCurrencyFormatPtBr [(ngModel)]="vehicle.acquisitionValue" [required]="true">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label"> Data aquisição *:</label>
                                <input pInputText class="form-control" name="aquisitionDate" id="aquisitionDate" [(ngModel)]="vehicle.acquisitionDate" appDateFormatPtBr [required]="true">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label"> Data disponibilidade *:</label>
                                <input pInputText class="form-control" name="avaliabilityDate" id="avaliabilityDate" appDateFormatPtBr [(ngModel)]="vehicle.availabilityDate" [required]="true">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Valor fipe aquisição *:</label>
                                <input pInputText class="form-control" name="fipeValueAquisition" id="fipeValueAquisition" appCurrencyFormatPtBr [(ngModel)]="vehicle.fipeValueAtAcquisition" [required]="true">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label"> Desvalorização da fipe *:</label>
                                <input pInputText class="form-control" name="fipeDepreciation" id="fipeDepreciation" appCurrencyFormatPtBr [(ngModel)]="vehicle.fipeDepreciation" [required]="true">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <label class="form-label"> Tipo combustivel *:</label>
                                <p-dropdown styleClass="w-100" name="fuelType" id="fuelType" placeholder="Selecione"
                                            optionLabel="description" optionValue="code" [(ngModel)]="selectedFuelTypeId"
                                            [options]="fuelTypes" required="true" />

                            </div>
                            <div class="col-md-1">
                                <label class="form-label"> Leilão *:</label>
                                <p-dropdown styleClass="w-100" name="auction" id="auction" placeholder="Selecione"
                                            [options]="optionsEnum" [(ngModel)]="vehicle.auction" required="true" />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label"> Situação *:</label>
                                <p-dropdown styleClass="w-100" name="situation" id="situation" placeholder="Selecione"
                                            [options]="optionsEnum" [(ngModel)]="vehicle.situation" required="true" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Ativo:</label>
                                <p-inputSwitch name="active" id="active" styleClass="form-control"
                                               [(ngModel)]="vehicle['active']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!form.valid">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/search/vehicles">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
