<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Lançamentos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Tipo categoria *:</label>
                            <p-dropdown styleClass="w-100" name="typeCategory" id="typeCategory" placeholder="Selecione"
                                        [options]="categoryTypes"
                                        emptyMessage="Nenhuma tipo lançamento encontrado"
                                        optionValue="description" optionLabel="description" required="true" [(ngModel)]="transaction['categoryType']"
                                        (onChange)="findCategories()"/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> Categoria *:</label>
                            <p-dropdown styleClass="w-100" name="subcategory" id="subcategory" placeholder="Selecione"
                                        [options]="groupCategories" optionLabel="label" optionValue="value" [group]="true"
                                        emptyMessage="Nenhuma subcategoria encontrada" required="true" [(ngModel)]="transaction['subcategoryId']"
                                        [filter]="true" [disabled]="!transaction['categoryType']" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"> Descrição *:</label>
                            <input pInputText class="form-control" name="description" id="description" [required]="true" [(ngModel)]="transaction['description']" [maxlength]="70" />
                        </div>
                    </div>

                    <app-transfer-transaction [transaction]="transaction"></app-transfer-transaction>
                    <app-corporate-capital-transaction [transaction]="transaction"></app-corporate-capital-transaction>
                    <app-common-transaction [updateForm]="edit" [transaction]="transaction"></app-common-transaction>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Pago:</label>
                            <p-inputSwitch name="paid" id="paid" styleClass="form-control" (onChange)="processPayment()"
                                           [(ngModel)]="transaction['paid']" [style]="{ width: '3rem', border: 'none' }"></p-inputSwitch>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!formValid()">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <button pButton type="button" class="p-button-contrast p-button-sm ms-2" *ngIf="!enableInstallments && isNewRegister()" (click)="enableInstallments = !enableInstallments">
                        <i class="fa-solid fa-repeat m-1"></i>
                        {{ enableInstallments ? 'Desab.' : 'Hab.' }} parcelamento
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/search/transactions">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div *ngIf="enableInstallments">
        <app-title name="Parcelamento"></app-title>

        <div class="row g-3">
            <div class="col-md-12 mb-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"> Tipo parcelamento :</label>
                                <p-dropdown styleClass="w-100" name="type" id="type" placeholder="Selecione" [options]="typesEnum" [(ngModel)]="transaction['paymentType']" (onChange)="loadingInstallments()" />
                            </div>

                            <div class="col-md-3">
                                <label class="form-label"> Frequência :</label>
                                <p-dropdown styleClass="w-100" name="frequency" id="frequency" placeholder="Selecione" [options]="frequencyEnum" [(ngModel)]="transaction['frequency']" />
                            </div>

                            <div class="col-md-3">
                                <label class="form-label"> Número de parcelas :</label>
                                <p-dropdown styleClass="w-100" name="installments" id="installments" placeholder="Selecione" [readonly]="transaction['paymentType'] === 'FIXED'" [options]="installments" [(ngModel)]="transaction['installment']"
                                            emptyMessage="Nenhuma parcela encontrada" [filter]="true"
                                            (onChange)="calculatesInstallmentValue()"/>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label"> Valor da parcela :</label>
                                <input pInputText class="form-control" name="installmentValue " id="installmentValue" appCurrencyFormatPtBr [(ngModel)]="transaction['installmentValue']" [readonly]="true" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button pButton type="button" class="p-button-contrast p-button-sm" (click)="enableInstallments = !enableInstallments">
                            <i class="fa-solid fa-repeat m-1"></i>
                            {{ enableInstallments ? 'Desab.' : 'Hab.' }} parcelamento
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
