<div class="row" *ngIf="transaction.categoryType === 'TRANSFERÊNCIA'">
    <div class="col-md-3">
        <label class="form-label"> Saiu da conta *:</label>
        <p-dropdown styleClass="w-100" name="sourceAccount" id="sourceAccount" placeholder="Selecione"
                    optionLabel="name" optionValue="id" [(ngModel)]="transaction['accountId']"
                    [options]="debitAccounts" required="true" (onChange)="removeAccount(transaction.accountId, true)" />
    </div>
    <div class="col-md-3">
        <label class="form-label"> Entrou na conta *:</label>
        <p-dropdown styleClass="w-100" name="destinationAccount" id="destinationAccount" placeholder="Selecione"
                    optionLabel="name" optionValue="id" [(ngModel)]="transaction['destinationAccountId']"
                    [options]="creditAccounts" required="true" (onChange)="removeAccount(transaction.destinationAccountId, false)" />
    </div>
    <div class="col-md-2 col-sm-12">
        <label class="form-label"> Valor *:</label>
        <input pInputText class="form-control" name="value" id="value" [(ngModel)]="transaction['value']" appCurrencyFormatPtBr [required]="true"
               (keyup)="calculatesInstallmentValue(transaction)" />
    </div>
    <div class="col-md-2">
        <label class="form-label"> Data Vencimento *:</label>
        <input pInputText class="form-control" name="dueDate" id="dueDate" [(ngModel)]="transaction['dueDate']" appDateFormatPtBr [required]="true" />
    </div>
    <div class="col-md-2">
        <label class="form-label"> Data Pagamento :</label>
        <input pInputText class="form-control" name="paymentDate" id="paymentDate" [(ngModel)]="transaction['paymentDate']" appDateFormatPtBr />
    </div>
</div>
