<form autocomplete="off" class="fade-in">
    <app-title name="Veículos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquise por placa ou renavam:</label>
                            <input pInputText class="form-control" name="search" id="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="button" pButton class="p-button-success p-button-sm" (click)="filterBy()" [disabled]="!authService.hasPermission('FILTER_VEHICLES')">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/vehicles/new" [disabled]="!authService.hasPermission('REGISTER_VEHICLES')">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table #table [value]="vehicles" [paginator]="vehicles.length > 10" [rows]="10"
                             responsiveLayout="stack" [breakpoint]="'1300px'"
                             styleClass="p-datatable-striped p-datatable p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr *ngIf="vehicles.length > 0">
                                <th class="text-left">MARCA</th>
                                <th class="text-left">MODELO</th>
                                <th class="text-center">PLACA</th>
                                <th class="text-center">ANO FABRICAÇÃO / ANO MODELO</th>
                                <th class="text-center">V. AQUISIÇÃO</th>
                                <th class="text-center">SITUAÇÃO</th>
                                <th class="text-center">FIPE</th>
                                <th class="text-center">ATIVO</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-vehicle>
                            <tr>
                                <td class="text-left">
                                    <span class="p-column-title">MARCA</span>
                                    {{ vehicle['brandName'] }}
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">MODELO</span>
                                    <span class="text-limited-15" pTooltip="{{ vehicle['modelName'] }}">
                                        {{ vehicle['modelName'] }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">PLACA</span>
                                    {{ vehicle['licensePlate'] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">FAB. / MOD.</span>
                                    {{ vehicle['yearManufacture'] }} / {{ vehicle['modelYear'] }}
                                </td>
                                <td class="text-right">
                                    <span class="p-column-title">V. AQUISIÇÃO</span>
                                    {{ vehicle['acquisitionValue'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">SITUAÇÃO</span>
                                    {{ vehicle['situation'] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">FIPE</span>
                                    <p-button [link]="true" [disabled]="!authService.hasPermission('VIEW_FIPE_VEHICLES')" (click)="showDialogFipe(vehicle['id'])">
                                        <i class="fa-regular fa-eye"></i>
                                    </p-button>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">ATIVO</span>
                                    <span class=" {{ vehicle['active'] == true ? 'badge text-bg-success' : 'badge text-bg-danger' }} ">
                                        {{ vehicle["active"] === true ? 'Sim' : 'Não' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÔES</span>
                                    <div class="card-actions">
                                        <p-button [link]="true" (click)="confirmationDelete(vehicle)" [disabled]="!authService.hasPermission('DELETE_VEHICLES')">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </p-button>
                                        <p-button [link]="true" [routerLink]="['/vehicles/', vehicle.id]" [disabled]="!authService.hasPermission('UPDATE_VEHICLES')">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>
