<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Modelos"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Marca *:</label>
                            <p-dropdown styleClass="w-100" name="brand" id="brand" placeholder="Selecione"
                                        optionLabel="name" optionValue="id" [(ngModel)]="selectedBrandId"
                                        [options]="brands" required="true" />
                        </div>

                        <div class="col-md-9">
                            <label class="form-label"> Descrição *:</label>
                            <input pInputText class="form-control" name="name" id="name" [required]="true" [(ngModel)]="model['name']"
                                [maxlength]="100">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Ativo:</label>
                            <p-inputSwitch name="active" id="active" styleClass="form-control" [style]="{ width: '3rem', border: 'none' }"
                                   [(ngModel)]="model['active']"></p-inputSwitch>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!form.valid || !authService.hasPermission('REGISTER_MODELS')">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/models">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
