<form autocomplete="off" class="fade-in">
    <div class="row g-3">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="title">Clientes</h1>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" id="search" name="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="button" pButton class="p-button-success p-button-sm" (click)="filterBy()">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/register/clients/new">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table #table [value]="clients" [paginator]="clients.length > 10" [rows]="10"
                             responsiveLayout="stack" [breakpoint]="'960px'" styleClass="p-datatable-striped p-datatable p-datatable-gridlines">

                        <ng-template pTemplate="header">
                            <tr *ngIf="clients.length > 0">
                                <th class="text-left">NOME</th>
                                <th class="text-center">CPF / CNPJ</th>
                                <th class="text-center">DATA NASCIMENTO</th>
                                <th class="text-left">E-MAIL</th>
                                <th class="text-center">CONTATO</th>
                                <th class="text-center">ENDEREÇO</th>
                                <th class="text-center">ATIVO</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-client>
                            <tr>
                                <td class="text-left">
                                    <span class="p-column-title">NOME</span>
                                    {{ client['name'] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">CPF / CNPJ</span>
                                    {{ client['cpfCnpj'] | cpfMask }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">DATA NASCIMENTO</span>
                                    {{ client['birthDate'] }}
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">E-MAIL</span>
                                    {{ client['email'] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">CONTATO</span>
                                    {{ client['cellPhone'] | phoneMask }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">ENDEREÇO</span>
                                    <p-button [link]="true" (click)="showDialogAddress(client)">
                                        <i class="fa-regular fa-eye"></i>
                                    </p-button>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">ATIVO</span>
                                    <span class=" {{ client['active'] == true ? 'badge text-bg-success' : 'badge text-bg-danger' }} ">
                                        {{ client["active"] === true ? 'Sim' : 'Não' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÕES</span>
                                    <p-button [link]="true"  (click)="confirmationDelete(client)">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </p-button>
                                    <p-button [link]="true" [routerLink]="['/update/clients/', client.id]">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </p-button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <app-dialog-address #dialogAddress></app-dialog-address>
                </div>
            </div>
        </div>
    </div>
</form>
