<form autocomplete="off" class="fade-in">
    <app-title name="Categorias"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" name="search" id="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="button" pButton class="p-button-success p-button-sm" (click)="filterBy()">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/register/categories/new">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-tabView [scrollable]="false" [activeIndex]="categoryTabView.activeIndex" (onChange)="onTabeChange($event)">
                        <p-tabPanel header="RECEITA" [tabIndex]="0" [disabled]="categoryTabView.hasNotIncome">
                            <app-table-category [categories]="categories"
                                                [categoryType]="categoryTabView.income" (delete)="confirmationDelete($event)"></app-table-category>
                        </p-tabPanel>

                        <p-tabPanel header="DESPESA" [tabIndex]="1" [disabled]="categoryTabView.hasNotExpense">
                            <app-table-category [categories]="categories"
                                                [categoryType]="categoryTabView.expense" (delete)="confirmationDelete($event)"></app-table-category>
                        </p-tabPanel>

                        <p-tabPanel header="INVESTIMENTO" [tabIndex]="2" [disabled]="categoryTabView.hasNotInvestment">
                            <app-table-category [categories]="categories"
                                                [categoryType]="categoryTabView.investment" (delete)="confirmationDelete($event)"></app-table-category>
                        </p-tabPanel>

                        <p-tabPanel header="TRANSFERÊNCIA" [tabIndex]="3" [disabled]="categoryTabView.hasNotTransfer">
                            <app-table-category [categories]="categories"
                                                [categoryType]="categoryTabView.transfer" (delete)="confirmationDelete($event)"></app-table-category>
                        </p-tabPanel>

                        <p-tabPanel header="CAPITAL SOCIETÁRIO" [disabled]="categoryTabView.hasNotCorporateCapital">
                            <app-table-category [categories]="categories"
                                                [categoryType]="categoryTabView.corporateCapital" (delete)="confirmationDelete($event)"></app-table-category>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</form>
