<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Marcas"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Descrição *:</label>
                            <input pInputText class="form-control" name="name" id="name" [(ngModel)]="brand['name']" [required]="true">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Símbolo *:</label>
                            <p-dropdown styleClass="w-100" name="symbol" id="symbol" [options]="symbols" [showClear]="false"
                                        placeholder="Selecione"
                                        optionLabel="id"
                                        optionValue="id"
                                        [(ngModel)]="selectedSymbolId"
                                        required>
                                <ng-template let-symbol pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <img src="data:image/png;base64, {{ symbol.imageBase64 }}" style="width: 3rem"  alt="symbol"/>
                                    </div>
                                </ng-template>
                                <ng-template let-selected pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2">
                                        <img src="data:image/png;base64, {{ selected['imageBase64'] }}" style="width: 3rem; position: relative; bottom: 0.8125rem;"  alt="symbol"/>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label">Carregar novo símbolo:</label>
                            <p-fileUpload
                                #fileUpload
                                mode="basic"
                                url="{{ uploadURL }}"
                                name="file"
                                chooseLabel="Selecionar"
                                chooseIcon="fa-solid fa-arrow-up-from-bracket"
                                styleClass="form-control"
                                accept="image/*"
                                maxFileSize="1000000"
                                [auto]="true"
                                [disabled]="uploadSymbolDisabled()"
                                (onBeforeUpload)="updateURL($event)"
                                (onUpload)="uploadSuccess($event)"
                                (onError)="uploadError($event)"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Ativo:</label>
                            <p-inputSwitch name="active" id="active" styleClass="form-control" [style]="{ width: '3rem', border: 'none' }"
                                [(ngModel)]="brand['active']"></p-inputSwitch>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <p class="alert alert-info">
                                <i class="fa-solid fa-check"></i>
                                Para submeter um novo símbolo é preciso que esteja no formato png e no tamanho 48x48.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!formValid()">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/search/brands">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
