<form autocomplete="off" class="fade-in" #form="ngForm" (ngSubmit)="saveOrUpdate(form)">
    <app-title name="Usuários"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-header">
                    <h4> {{ isNewRegister() ? 'Cadastrar' : 'Atualizar' }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-10">
                            <small class="float-end">Campos com ( * ) são obrigatórios.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Nome completo *:</label>
                            <input pInputText class="form-control" name="fullname" id="fullname" [(ngModel)]="user['name']" [required]="true" [maxlength]="100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> E-mail *:</label>
                            <input pInputText class="form-control" name="email" id="email" [(ngModel)]="user['email']" (keyup)="updateLoginName()" [required]="true" [maxlength]="100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label"> Senha *:</label>
                            <input pInputText type="password" class="form-control" name="password" id="password" [(ngModel)]="user['password']" [required]="true" [maxlength]="100"
                                (input)="validatePassword()" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label"> Confirma senha *:</label>
                            <input pInputText type="password" class="form-control" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" [required]="true" [maxlength]="100"
                                   (input)="validatePassword()" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label"> Perfil *:</label>
                            <p-multiSelect id="profile" name="profile" [showHeader]="false" emptyMessage="Nenhum perfil encontrado."
                                           [options]="profiles" optionLabel="description" [(ngModel)]="user['profiles']" [style]="{ height: 'inherit', border: '1px solid #dfe2e6'}" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Ativo:</label>
                            <p-inputSwitch name="active" id="active" styleClass="form-control" [style]="{ width: '3rem', border: 'none' }"
                                           [(ngModel)]="user['active']"></p-inputSwitch>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button pButton type="submit" class="p-button-success p-button-sm" [disabled]="!form.valid || !user['profiles'].length">
                        <i class="fa-solid fa-save m-1"></i>
                        Salvar
                    </button>
                    <button pButton type="button" (click)="cancel(form)" class="p-button-danger p-button-sm ms-2" [disabled]="!isNewRegister()">
                        <i class="fa-solid fa-remove m-1"></i>
                        Cancelar
                    </button>
                    <a class="btn" style="float: right; margin-top: 5px;" routerLink="/users">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
