.card-header {
    background: #ffffff !important;
}

.loading-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Leve transparência branca */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 0.5rem; /* Segue os cantos arredondados do card */
}
