<div class="row g-3">
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h1 class="title">Dashboard</h1>
            </div>
            <!--                    <div class="col-12 col-md-6 text-md-end mt-md-0">-->
            <!--                        <label>Período:</label>-->
            <!--                        <p-calendar inputStyleClass="form-control d-inline-block ms-1"  />-->
            <!--                    </div>-->
        </div>
    </div>
</div>

<br />

<div class="row g-3">
    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Contratos ativos</label>
                <h5>{{ qtdActiveContract.quantity }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Contratos encerrados</label>
                <h5>{{ qtdContractTerminated.quantity }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Veículos parados</label>
                <h5>{{ qtdStoppedVehicles.quantity }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Veículos alugados</label>
                <h5>{{ qtdRentalVehicles.quantity }}</h5>
            </div>
        </div>
    </div>
</div>

<div class="row g-3 mt-0">
    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Cobranças em atraso</label>
                <span class="badge text-bg-secondary text-white m-1 float-end"> {{ cardOverdue.quantity }} </span>
                <h5>{{ cardOverdue.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Cobranças efetivados</label>
                <span class="badge text-bg-secondary text-white m-1 float-end"> {{ cardChargeMade.quantity }} </span>
                <h5>{{ cardChargeMade.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Manutenções realizadas</label>
                <span class="badge text-bg-secondary text-white m-1 float-end"> {{ cardMaintenance.quantity }} </span>
                <h5> {{ cardMaintenance.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </h5>
            </div>
        </div>
    </div>
</div>
