<div class="row g-3">
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-6 col-md-6">
                <h1 class="title">Dashboard</h1>
            </div>
            <div class="col-6 col-md-6 text-md-end mt-md-0">
                <button type="button" pButton class="p-button-contrast p-button-sm" (click)="refresh()">
                    <i class="fa-solid fa-refresh me-1"></i>
                    Atualizar
                </button>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row g-3">
    <div class="col-md-3 col-sm-12">
        <app-card-indicator label="Contratos ativos"
                            [loading]="qtdActiveContract.loading"
                            [quantity]="qtdActiveContract.quantity" />
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator label="Contratos encerrados"
                            [loading]="qtdContractTerminated.loading"
                            [quantity]="qtdContractTerminated.quantity" />
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator label="Veículos parados"
                            [loading]="qtdStoppedVehicles.loading"
                            [quantity]="qtdStoppedVehicles.quantity" />
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator label="Veículos alugados"
                                  [loading]="qtdRentalVehicles.loading"
                                  [quantity]="qtdRentalVehicles.quantity" />
    </div>
</div>

<div class="row g-3 mt-0">
    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Receita em atraso"
                            [loading]="cardOverdueRevenue.loading"
                            [quantity]="cardOverdueRevenue.quantity"
                            [value]="cardOverdueRevenue.value"
                            [filterParams]="{ q: 'OVERDUE_REVENUE' }"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Receita pendentes"
                            [loading]="cardPendingRevenue.loading"
                            [quantity]="cardPendingRevenue.quantity"
                            [value]="cardPendingRevenue.value"
                            [filterParams]="{ q: 'PENDING_REVENUE' }"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Receita efetivadas"
                            [loading]="cardRealizedRevenue.loading"
                            [quantity]="cardRealizedRevenue.quantity"
                            [value]="cardRealizedRevenue.value"
                            [filterParams]="{ q: 'REALIZED_REVENUE' }"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Receita bruta"
                            [loading]="cardGrossRevenue.loading"
                            [quantity]="cardGrossRevenue.quantity"
                            [value]="cardGrossRevenue.value"
                            [filterParams]="{ q: 'GROSS_REVENUE' }"/>
    </div>
</div>

<div class="row g-3 mt-0">
    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Despesas em atraso"
                            [loading]="cardOverdueExpense.loading"
                            [quantity]="cardOverdueExpense.quantity"
                            [value]="cardOverdueExpense.value"
                            [filterParams]="{ q: 'OVERDUE_EXPENSE' }"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Despesas pendentes"
                            [loading]="cardPendingExpense.loading"
                            [quantity]="cardPendingExpense.quantity"
                            [value]="cardPendingExpense.value"
                            [filterParams]="{ q: 'PENDING_EXPENSE' }"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Despesas efetivadas"
                            [loading]="cardRealizedExpense.loading"
                            [quantity]="cardRealizedExpense.quantity"
                            [value]="cardRealizedExpense.value"
                            [filterParams]="{ q: 'REALIZED_EXPENSE' }"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <app-card-indicator-value label="Despesa bruta"
                            [loading]="cardGrossExpense.loading"
                            [quantity]="cardGrossExpense.quantity"
                            [value]="cardGrossExpense.value"
                            [filterParams]="{ q: 'GROSS_EXPENSE' }"/>
    </div>
</div>

<div class="row g-3">
    <div class="col-md-6 col-sm-12 mb-0" style="margin-bottom: -15px!important">
        <div class="panel-container">
            <div class="panel-side">
                <div class="row g-3 mt-0">
                    <app-card-indicator-list
                        label="Saldo geral nas contas"
                        [totalValue]="generalBalance"
                        [loading]="loadingAccounts"
                        [items]="balanceInAccounts"/>
                </div>

                <div class="row g-3 mt-0">
                    <app-card-indicator-chart label="Receitas por categoria"
                                              [loading]="loadingChartIncome"
                                              [data]="basicIncomeData"
                                              [options]="basicIncomeOptions"
                                              type="doughnut"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-5">
        <div class="panel-container">
            <div class="panel-side">
                <div class="row g-3 mt-0">
                    <app-card-indicator-list
                        label="Faturas de {{ decriptionAmount}}"
                        [totalValue]="generalInvoiceValue"
                        [loading]="loadingInvoices"
                        [items]="invoicesByCards"/>
                </div>

                <div class="row g-3 mt-0">
                    <app-card-indicator-chart label="Depesas por categoria"
                                              [loading]="loadingChartExpense"
                                              [data]="basicExpenseData"
                                              [options]="basicExpenseOptions"
                                              type="doughnut"/>
                </div>
            </div>
        </div>
    </div>
</div>
