<form autocomplete="off" class="fade-in">
    <app-title name="Multas"></app-title>

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label"> Pesquisar:</label>
                            <input pInputText class="form-control" id="search" name="search" [(ngModel)]="searchFilter" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-xs-6 text-md-start">
                            <button type="submit" pButton class="p-button-success p-button-sm" (click)="filterBy()" [disabled]="!authService.hasPermission('FILTER_ACCOUNTS')">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                Pesquisar
                            </button>
                        </div>
                        <div class="col-6 col-xs-6 text-md-end">
                            <button type="button" pButton class="p-button-contrast p-button-sm" routerLink="/fines/new" [disabled]="!authService.hasPermission('REGISTER_ACCOUNTS')">
                                <i class="fa-solid fa-plus m-1"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-3">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-table [value]="fines"
                             responsiveLayout="stack" [breakpoint]="'960px'" styleClass="p-datatable-striped p-datatable p-datatable-gridlines">

                        <ng-template pTemplate="header">
                            <tr *ngIf="fines.length > 0">
                                <th class="text-left">VEÍCULO</th>
                                <th class="text-left">DESCRIÇÃO</th>
                                <th class="text-right">VALOR</th>
                                <th class="text-center">DATA COMETIMENTO</th>
                                <th class="text-center">VENCIMENTO</th>
                                <th class="text-center">STATUS</th>
                                <th class="text-center">AÇÕES</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-fine>
                            <tr>
                                <td class="text-left">
                                    <span class="p-column-title">VEÍCULO</span>
                                    {{ fine['vehicleShortName'] }}
                                </td>
                                <td class="text-left">
                                    <span class="p-column-title">DESCRIÇÃO</span>
                                    <span>{{ fine['description'] }}</span>
                                </td>
                                <td class="text-right">
                                    <span class="p-column-title">VALOR</span>
                                    {{ fine['value'] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">DATA COMETIMENTO</span>
                                    {{ fine['dateTimeOfCommitment'] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">VENCIMENTO</span>
                                    {{ fine['dueDate'] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">STATUS</span>
                                    <span class="badge rounded-pill text-bg-warning text-white" *ngIf="fine['status'] === 'PENDENTE'"> {{ fine['status'] }} </span>
                                    <span class="badge rounded-pill text-bg-danger" *ngIf="fine['status'] === 'EM ATRASO'"> {{ fine['status'] }} </span>
                                    <span class="badge rounded-pill text-bg-success" *ngIf="fine['status'] === 'PAGO'"> {{ fine['status'] }} </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">AÇÕES</span>
                                    <div class="dropdown position-static">
                                        <button class="btn btn-secondary btn-sm" type="button" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actions">
                                            <li>
                                                <p-button class="dropdown-item" [link]="true" (click)="confirmationDelete(fine)" [disabled]="!authService.hasPermission('DELETE_FINES')">
                                                    <i class="fa-regular fa-trash-can m-sm-1"></i> Excluir
                                                </p-button>
                                            </li>
                                            <li>
                                                <p-button class="dropdown-item" [link]="true" [routerLink]="['/fines/', fine.id]" [disabled]="!authService.hasPermission('UPDATE_FINES')">
                                                    <i class="fa-regular fa-pen-to-square m-sm-1"></i> Editar
                                                </p-button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7" style="text-align: center;">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>
